.dresscode {
    padding: 2em 0;
    font-family: Montserrat, sans-serif;

    @media(max-width: $bp-sm) {
        padding-top: 4em;
    }

    &__inner {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 1em;
    }

    &__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__item {
        width: calc(25% - .75em);
        padding-top: calc(25% - .75em);
        border-radius: 50%;
    }

    &__text {
        font-size: .75em;
        text-align: center;
        margin-bottom: 5em;
        font-weight: 300;

        @media(max-width: $bp-sm) {
            margin-bottom: 2.5em;
        }
    }
}