.plan {
    $text-color: #fff;
    $bg-color: lighten($color-primary, 10%);

    font-size: 0.66em;
    padding: 4em 0;
    background-color: transparent;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 3em;
        font-family: 'Basdela', sans-serif;
        text-transform: lowercase;
        color: $text-color;
    }

    &__content {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 3.125em;
        border: 1px solid $text-color;
        padding: 3.125em;
        border-radius: .625em;
        font-family: Montserrat, sans-serif;

        transition: transform .2s ease;
        transform-style: preserve-3d;

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 2em;
            max-width: 510px;
            margin: 0 auto;
            position: relative;
        }
    }

    &__stripe {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%);

        img {
            width: 7.5em;

            @media (max-width: $bp-sm) {
                width: 5em;
            }
        }

        &:nth-child(1) {
            top: 15%;
        }

        &:nth-child(2) {
            top: 42.5%;
        }

        &:nth-child(3) {
            top: 70%;
        }
    }

    &__item {
        display: flex;
        gap: 1.625em;
        align-self: flex-start;
        align-items: center;
        transition: transform .5s ease;

        &-img {
            width: 6.25em;
            height: 6.25em;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 30px 0px 75px 1px lighten($color: #dc31d0, $amount: 20%);

            img {
                width: 100%;
            }
        }

        span {
            display: block;
            font-weight: 500;
            font-size: .8em;
            text-shadow: 0px 0px 3px #bdb7b7;
            color: $text-color;

            @media (max-width: $bp-sm) {
                font-size: 1em;
            }
        }

        &.--right {
            align-self: flex-end;
            flex-direction: row-reverse;

            & .plan__item-img {
                box-shadow: -30px 0px 75px 1px lighten($color: #dc31d0, $amount: 20%);
            }
        }
    }
}